### Checking for missing values using isnull() and notnull()

In [15]:
import pandas as pd
import numpy as np

hfile=pd.read_csv("Data 2.csv",header=0)

df=pd.DataFrame(hfile)

print(df.isnull)
print(df.notnull)

<bound method DataFrame.isnull of     Car_Name    Year  Selling_Price  Kms_Driven Fuel_Type Seller_Type  \
0       ritz     NaN           3.35     27000.0    Petrol      Dealer
1        sx4  2013.0           4.75     43000.0       NaN      Dealer
2       ciaz     NaN            NaN      6900.0       NaN      Dealer
3    wagon r     NaN           2.85      5200.0       NaN      Dealer
4      swift     NaN            NaN     42450.0       NaN      Dealer
..       ...     ...            ...         ...       ...         ...
296     city  2016.0           9.50     33988.0    Diesel      Dealer
297     brio  2015.0           4.00     60000.0    Petrol      Dealer
298     city  2009.0           3.35     87934.0    Petrol      Dealer
299     city  2017.0          11.50      9000.0    Diesel      Dealer
300     brio  2016.0           5.30      5464.0    Petrol      Dealer

    Transmission  Owner
0         Manual      0
1         Manual      0
2         Manual      0
3         Manual      0
4         Manual      0
..           ...    ...
296       Manual      0
297       Manual      0
298       Manual      0
299       Manual      0
300       Manual      0

[301 rows x 8 columns]>
<bound method DataFrame.notnull of     Car_Name    Year  Selling_Price  Kms_Driven Fuel_Type Seller_Type  \
0       ritz     NaN           3.35     27000.0    Petrol      Dealer
1        sx4  2013.0           4.75     43000.0       NaN      Dealer
2       ciaz     NaN            NaN      6900.0       NaN      Dealer
3    wagon r     NaN           2.85      5200.0       NaN      Dealer
4      swift     NaN            NaN     42450.0       NaN      Dealer
..       ...     ...            ...         ...       ...         ...
296     city  2016.0           9.50     33988.0    Diesel      Dealer
297     brio  2015.0           4.00     60000.0    Petrol      Dealer
298     city  2009.0           3.35     87934.0    Petrol      Dealer
299     city  2017.0          11.50      9000.0    Diesel      Dealer
300     brio  2016.0           5.30      5464.0    Petrol      Dealer

    Transmission  Owner
0         Manual      0
1         Manual      0
2         Manual      0
3         Manual      0
4         Manual      0
..           ...    ...
296       Manual      0
297       Manual      0
298       Manual      0
299       Manual      0
300       Manual      0

[301 rows x 8 columns]>

#### displaying data only with Selling_Price = NaN

In [16]:
bool_sires=pd.isnull(hfile["Selling_Price"])

hfile[bool_sires]

,Car_Name,Year,Selling_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
2,ciaz,NaN,NaN,6900.0,NaN,Dealer,Manual,0
4,swift,NaN,NaN,42450.0,NaN,Dealer,Manual,0
158,Honda Dream Yuga,2017.0,NaN,NaN,Petrol,NaN,Manual,0
159,Honda Activa 4G,2017.0,NaN,4000.0,Petrol,NaN,Automatic,0
160,Bajaj Avenger Street 220,2011.0,NaN,24000.0,Petrol,Individual,Manual,0
161,TVS Apache RTR 180,2014.0,NaN,23000.0,Petrol,Individual,Manual,0
190,Bajaj Pulsar 150,2008.0,NaN,60000.0,Petrol,Individual,Manual,0
191,Bajaj Discover 125,2012.0,NaN,25000.0,Petrol,Individual,Manual,1
192,Hero Hunk,2007.0,NaN,49000.0,Petrol,Individual,Manual,1
193,Hero Ignitor Disc,2013.0,NaN,24000.0,Petrol,Individual,Manual,1
194,Hero CBZ Xtreme,2008.0,NaN,50000.0,Petrol,Individual,Manual,0
195,Bajaj ct 100,2015.0,NaN,35000.0,Petrol,Individual,Manual,0

### Filling missing values using fillna()
In order to fill null values in a datasets, we use fillna(), replace() and interpolate() function these function replace NaN values with some value of their own. All these function help in filling a null values in datasets of a DataFrame. Interpolate() function is basically used to fill NA values in the dataframe but it uses various interpolation technique to fill the missing values rather than hard-coding the value.

In [17]:
new_file=df.fillna(method="bfill")
# print(new_file)
df2=pd.DataFrame(new_file)
new_file.isnull().sum().sum()

0

### removing outliers

In [18]:
import matplotlib.pyplot as plt

q1=df2.quantile(0.25)
q3=df2.quantile(0.75)

iqr=q3-q1

df2=(df2[~((df2<(q1-1.5*iqr)) | (df2>(q3+1.5*iqr)))])

df2

C:\Users\Niazi Wall\AppData\Local\Temp\ipykernel_2336\3997678208.py:8: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  df2=(df2[~((df2<(q1-1.5*iqr)) | (df2>(q3+1.5*iqr)))])

,Car_Name,Year,Selling_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2013.0,3.35,27000.0,Petrol,Dealer,Manual,0.0
1,sx4,2013.0,4.75,43000.0,Petrol,Dealer,Manual,0.0
2,ciaz,2018.0,2.85,6900.0,Petrol,Dealer,Manual,0.0
3,wagon r,2018.0,2.85,5200.0,Petrol,Dealer,Manual,0.0
4,swift,2018.0,9.25,42450.0,Petrol,Dealer,Manual,0.0
...,...,...,...,...,...,...,...,...
296,city,2016.0,9.50,33988.0,Diesel,Dealer,Manual,0.0
297,brio,2015.0,4.00,60000.0,Petrol,Dealer,Manual,0.0
298,city,2009.0,3.35,87934.0,Petrol,Dealer,Manual,0.0
299,city,2017.0,11.50,9000.0,Diesel,Dealer,Manual,0.0
300,brio,2016.0,5.30,5464.0,Petrol,Dealer,Manual,0.0

### Data Normalization 

MinMax and Z-score

In [55]:
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler

scaler=preprocessing.MinMaxScaler()

df_min_max_scaled = df2.copy()

for column in df_min_max_scaled.columns:
    df_min_max_scaled["Selling_Price"] = (df_min_max_scaled["Selling_Price"] - df_min_max_scaled["Selling_Price"].min()) / (df_min_max_scaled["Selling_Price"].max() - df_min_max_scaled["Selling_Price"].min())    
  
for column in df_min_max_scaled.columns:
    df_min_max_scaled["Kms_Driven"] = (df_min_max_scaled["Kms_Driven"] - df_min_max_scaled["Kms_Driven"].min()) / (df_min_max_scaled["Kms_Driven"].max() - df_min_max_scaled["Kms_Driven"].min())    
  

df_z_scaled = df_min_max_scaled.copy()

for column in df_z_scaled.columns:
    df_z_scaled["Kms_Driven"] = (df_z_scaled["Kms_Driven"] - df_z_scaled["Kms_Driven"].mean()) / df_z_scaled["Kms_Driven"].std()    
  
for column in df_z_scaled.columns:
    df_z_scaled["Selling_Price"] = (df_z_scaled["Selling_Price"] - df_z_scaled["Selling_Price"].mean()) / df_z_scaled["Selling_Price"].std()    
  


df_z_scaled

,Car_Name,Year,Selling_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2013.0,-0.117993,-0.237991,Petrol,Dealer,Manual,0.0
1,sx4,2013.0,0.339302,0.489219,Petrol,Dealer,Manual,0.0
2,ciaz,2018.0,-0.281312,-1.151549,Petrol,Dealer,Manual,0.0
3,wagon r,2018.0,-0.281312,-1.228815,Petrol,Dealer,Manual,0.0
4,swift,2018.0,1.809179,0.464221,Petrol,Dealer,Manual,0.0
...,...,...,...,...,...,...,...,...
296,city,2016.0,1.890839,0.079618,Diesel,Dealer,Manual,0.0
297,brio,2015.0,0.094323,1.261879,Petrol,Dealer,Manual,0.0
298,city,2009.0,-0.117993,2.531497,Petrol,Dealer,Manual,0.0
299,city,2017.0,2.544118,-1.056103,Diesel,Dealer,Manual,0.0
300,brio,2016.0,0.518954,-1.216816,Petrol,Dealer,Manual,0.0